<div class="row">
  <div class="col-6">
    <app-project-list [projectEvents]="projectEvents"
      (projectEventDetails)="detailsOfProjectEvent($event)"
    ></app-project-list>
  </div>
  <div class="col-5" *ngIf="selectedProjectEvent">
    <app-project-event-details (savedProjectEvent)="savedProjectEvent($event)"
      [projectEvent]="selectedProjectEvent"
    ></app-project-event-details>
  </div>
</div>
<button class="btn btn-primary" (click)="addNewProjectEvent()">
  Add new Project Event
</button>
