<table class="table table-striped">
  <thead>
    <tr>
      <!-- <th>Project Event ID</th> -->
      <th>#</th>
      <th>Project Event Name</th>
      <th>Project Event Location</th>
      <th>Project Event Description</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let project of projectEventList; let i = index"
      [class.first]="i === 0"
    >
      <!-- todo class i === 0 not work!!! -->
      <td>{{ i + 1 }}</td>
      <td>{{ project.projectEventName }}</td>
      <td>{{ project.projectEventLocation }}</td>
      <td>{{ project.projectEventDescription }}</td>
      <td>{{ project.startDate }}</td>
      <td>{{ project.endDate }}</td>
      <td>
        <button class="btn btn-primary" (click)="detailOfProjectRvent(project)">
          Details
        </button>
      </td>
    </tr>
  </tbody>
</table>
<!-- <div *ngFor="let project of projectEventList">
  {{ project | projectEventPipe }}
</div> -->
