<button class="btn btn-primary" (click)="addNewProjectEvent()">Add</button>

<div class="row">
  <div class="col-6" style="margin-right: 100px">
    <app-project-event-table
      [projectEventList]="projectEventList"
      (detailsPorojectEvent)="detailOfProjectRvent($event)"
    ></app-project-event-table>
  </div>
  <div class="col-5" *ngIf="selectedProjectEvent" style="margin-top: 20px">
    <app-project-event-form
      (projectEventSaved)="projectEventSaved($event)"
      [projectEvent]="selectedProjectEvent"
    ></app-project-event-form>
  </div>
</div>
